span {
    color: black;
}

body{
    background-color: #200B42;
}
.title {
    color: #D7BEFF;
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    text-align: center;
}

.credits {
    color: #D7BEFF;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
}

div {
    height: 500px;
    width: 500px;
    background-color: powderblue;

}
  
  